@font-face {
  font-family: "DIN Next";
  font-weight: 400;
  src: url("/fonts/DIN400.woff2") format("woff2");
}
@font-face {
  font-family: "DIN Next";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/DIN400-italic.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-family: "DIN Next";
  src: url("/fonts/DIN500.woff2") format("woff2");
}
@font-face {
  font-family: "DIN Next";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/DIN500-italic.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "DIN Next";
  src: url("/fonts/DIN700.woff2") format("woff2");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/DIN700-italic.woff2") format("woff2");
}

html,
body,
#root {
  height: 100%;
  font-family: "DIN Next", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
